.button {
  @apply inline-block no-underline font-bold text-white py-3 px-8 bg-black relative text-center;

  &:hover {
    @apply bg-black;
  }

  & > .loader {
    width: 32px;
    position: absolute;
    top: 48%;
    right: 4rem;
    transform: translateY(-50%);
    opacity: 0;
  }

  &[data-load-more-loading='true'] > .loader {
    opacity: 1;
  }

  &--lg {
    @apply py-6;
    padding-left: 48px;
    padding-right: 48px;

    &[data-load-more-loading='true'] {
      padding-right: 62px;
    }
  }
}

.button-light {
  @apply block no-underline font-bold py-4 px-8 relative text-center bg-white text-black font-display uppercase rounded text-sm;
  border: 1px solid $white;
  padding-top: 4rem;
  padding-bottom: 3.5rem;

  &:hover {
    @apply bg-transparent text-white;
    border: 1px solid $white;
  }
}

// .button-outline-dark {
//   @apply inline-block no-underline font-bold text-black py-3 px-8 border border-black text-center;

//   &:hover {
//     @apply bg-primary text-white;
//   }
// }

// .button-outline-primary {
//   @apply inline-block no-underline font-bold text-black py-3 px-8 border border-primary text-center;

//   &:hover {
//     @apply bg-primary text-white;
//   }
// }

// .button-outline-dark {
//   @apply inline-block no-underline font-bold text-black py-3 px-8 border border-black text-center;

//   &:hover {
//     @apply bg-black text-white;
//   }
// }

// .button-outline-light {
//   @apply inline-block no-underline font-bold text-white py-3 px-8 border border-white text-center;

//   &:hover {
//     @apply bg-white text-black;
//   }
// }

// .button-link-primary {
//   @apply inline-block underline font-bold text-primary border-0;

//   &:hover {
//     @apply no-underline;
//   }
// }
