// Responsive Breakpoints
$sm: '576px';
$md: '768px';
$lg: '992px';
$xl: '1200px';

$black: #273444;
$white: #ffffff;
$secondary-green: #16a9a9;
$secondary-yellow: #f9a02d;
$secondary-red: #ed3e37;

$animation-base: 0.2s;
