.hero__title {
  font-size: 5.1vw;
}

.hero__video {
  box-shadow: 0.5rem 1rem 5rem rgba($black, 0.3);
  & video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.ministry-count {
  font-size: 25rem;
}

.stack-box {
  position: relative;
  max-width: 300px;
  width: 90%;
  margin: 0 auto 3rem;
  position: relative;

  & > .stack-box__content {
    padding: 10rem;
    margin-left: -1.5rem;
    width: 100%;
    max-width: 300px;
    background-color: $black;
    color: $white;
    position: relative;
    z-index: 3;
    border-radius: 1rem;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $white;
    border: 0.25rem solid $black;
    border-radius: 1rem;
  }

  &:before {
    top: 1.5rem;
    z-index: 2;
  }

  &:after {
    left: 1.5rem;
    top: 3rem;
    z-index: 1;
  }
}

.parent-accent {
  display: block;
  position: absolute;
  background-color: $black;
  width: 0.5rem;
  height: 25rem;
  top: 100%;
  left: 0;
}

.parent-stats {
  list-style-type: none;
  padding: 10rem 0 0 8rem;
}

.parent-stats-item {
  display: none;
}

.parent-stats-item:first-child,
.parent-stats-item:nth-child(2) {
  display: block;
}

.parent-excerpt {
  & p {
    margin-bottom: 4rem;
  }
}

@include media('>=#{$sm}', '<=#{$lg}') {
  .stack-box {
    max-width: 100%;
    & > .stack-box__content {
      max-width: 100%;
    }

    & .stack-box__title {
      width: 54rem;
      flex-shrink: 0;
    }
  }
}

@include media('>=#{$sm}', '<=#{$lg}') {
  .hero__title {
    font-size: 5.5vw;
  }
}

@include media('>=#{$md}') {
  .hero__title {
    font-size: 5.75vw;
  }

  .parent-stats-item {
    display: block;
  }

  .parent-excerpt {
    column-count: 2;
  }
}

@include media('>=#{$lg}') {
  .hero__title {
    font-size: 5vw;
  }

  .hero__verse {
    transform: translate(50%, -50%) rotate(90deg);
    right: 7.25rem;
    top: 50%;
  }

  .hero__verse__text {
    margin-right: 100px;
    position: relative;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: calc(50% + 0.5rem);
      transform: translateY(-50%);
      left: calc(100% + 5rem);
      width: 60px;
      height: 0.5rem;
      background-color: rgba($black, 0.25);
    }
  }

  .hero__content {
    max-width: 900px;
    margin: 0 auto;
  }

  .parent-stats {
    padding-top: 0;
    width: 142rem;
  }

  .parent-stats-item {
    display: block;
  }

  .parent-content {
    max-width: 920px;
  }

  .ministry-count {
    font-size: 40rem;
  }

  .parent-accent {
    width: 60vw;
    height: 0.5rem;
    left: calc(100% + 16rem);
    top: 50%;
    transform: translateY(-50%);
  }
}

@include media('>=#{$xl}') {
}
